[2019-05-30 19:59] MindFlavor opened #2 "Counters should end in _total"
From [https://github.com/prometheus/docs/pull/1357](https://github.com/prometheus/docs/pull/1357).

[2019-05-30 20:06] MindFlavor opened #3 "Export timestamps of events, not time since"
As per [https://github.com/prometheus/docs/pull/1357](https://github.com/prometheus/docs/pull/1357).

[2019-05-31 14:47] #3 closed

[2019-05-31 14:48] #2 closed

[2019-07-09 09:59] schoentoon opened #8 "Support multiple IP addreses"
I have my wireguard configured to allow for multiple ip addresses per peer (generally ipv4 and ipv6). This is simply done like this
[code]
However the eventual prometheus labels don't seem to pick up on this all too well. As I get the following labels:
`wireguard_sent_bytes_total{inteface="wg0", public_key="<snip>", local_ip="10.0.0.2", local_subnet="32,fd86:ea04:::2"}`

It seems to me that it is

[2019-07-09 15:33] MindFlavor commented on #8
You are indeed right, I haven't considered the possibility of allowing multiple IP addresses :man_facepalming: . I can fix this but I do not know how to express multiple IPs as Prometheus label(s). Should we drop the `local_subnet` label and replace `local_ip` with a simpler `allowed_ips`?
Alternatively we can have `local_ip_1', 'local_subnet_1', `local_ip_2', 'local_subnet_2', and so on but it's

[2019-07-09 16:05] MindFlavor commented on #8
I have a working solution based on the second approach. Please check out if it solves your problem!

[2019-07-10 12:36] schoentoon commented on #8
The second approach seems better for users with only one or two ip addresses, but the first option would be better for people with a lot of ip addresses. Maybe make it configurable?
Also, while looking at this ticket again I noticed that the first label is called `inteface` rather than `interface`, thought this could have been a copy paste failure on my end. Turns out it isn't, may want to fix tha

[2019-07-10 19:02] MindFlavor commented on #8
Makes perfect sense. I will implement the second approach behind a startup flag.
I will also correct the `inteface` :D

[2019-07-11 15:43] MindFlavor commented on #8
ok in [https://github.com/MindFlavor/prometheus_wireguard_exporter/pull/9](https://github.com/MindFlavor/prometheus_wireguard_exporter/pull/9) I've implemented your suggestions. Let me know if it's ok by you!

[2019-07-12 18:27] schoentoon commented on #8
Deployed it on my infrastructure and instantly looks a lot better. I'll have to tweak my grafana dashboards a bit now, but that's just a detail :sweat_smile:
Thanks for the quick fixing :)

[2019-07-12 18:27] #8 closed

[2019-07-21 13:08] Ma27 opened #10 "Exporter fails to parse IPv6 link-local addresses with zone IDs"
I recently discovered that link-local IPv6 addresses can't be parsed by the exporter and cause errors like this in the log:

[code]

The reason for this error is that link-local IPv6 addresses can have a so-called zone-id as described in [RFC 4007, Section 11](https://tools.ietf.org/html/rfc4007#section-11) to disambiguate local addresses. In my case one peer had the IPv6 socket address `[fe80::d4

[2019-09-23 17:33] traxo-xx opened #13 "received and sent bytes appear to be swapped"
Hi!
I noticed, that the values for `wireguard_sent_bytes_total` and `wireguard_received_bytes_total` appear to be swapped. For example the exporter shows the following output for a specific peer:

This doesn't match the output of `wg show wg1 dump` for this peer:
```transfer: 31.07 MiB received, 888.92 MiB sent```
A `wg show wg1 dump` looks like this for the peer:
```XXXX    XXXX    1.2.3.4:26061

[2019-09-25 18:10] MindFlavor commented on #13
I think you are right, the output is swapped :man_facepalming: !

Or, rather, I'm parsing the order wrong. I'll fix it ASAP!

[2019-09-25 18:32] #13 closed

[2019-09-26 15:57] traxo-xx commented on #13
Works as expected now. Thank you for the quick fix!

[2019-09-27 09:53] sc0rp10 opened #16 "Unwanted values if two wg interfaces present"
Hi,
I have two wg interfaces on the same node (wg0/wg1) and prometheus_wireguard_exporter.
I run two exporter instances using two different ports and configs:
[code]

Everything works fine but I got duplicated metrics with different friendly_names:
[code]

I think there's a problem with stats command: instead of using `wh show all dump` exporter should use specified interface name like `wg show wg

[2019-09-30 20:31] MindFlavor commented on #16
It's a good idea. I'll give it a try as soon as possible (I'm a bit swamped these days :crying_cat_face: )

[2019-10-13 17:46] MindFlavor commented on #16
This should be addressed in 3.2. Please let me know if it's better!

[2019-10-21 07:43] #16 closed

[2019-11-08 08:39] MindFlavor commented on #10
I will close it for now since @Ma27 solution addresses it. We'll probably need to revise the code some time in the future to see if the upstream crate solved the issue.

[2019-11-08 17:12] Ma27 commented on #10
Tbh I'd prefer to leave this open until we have a proper solution. The problem is still there, we just worked around it (which is valid in our case zone-ids broke the exporter before).

[2019-11-11 19:56] MindFlavor commented on #10
Good point! Reopened.

[2019-11-19 17:27] atomlab opened #19 "/metrics is empty"
Hi. I run prometheus_wireguard_exporter, but it return empty result. Why?

[code]

[code]
No data
[code]

**journalctl -fu prometheus_wireguard_exporter**

[code]

[2019-11-25 10:18] MindFlavor commented on #19
The output of your `wg show all dump` is strange, the last line does not have the exchanged bytes fields. Can you post your exact output here (of course please redact the privacy sensitive parts)? I will try to replicate the issue in a test case.

[2019-11-26 12:34] atomlab commented on #19
[code]

[2019-12-01 12:34] MindFlavor commented on #19
I am puzzled, I have added your `wg show all dump` output in this [test case](https://github.com/MindFlavor/prometheus_wireguard_exporter/blob/3d5c78da1cddd06c2406c014696ef779302dca80/src/wireguard.rs#L279) and I've got this expected output:
[code]

Can you please compile the `issue/19/dev` version and post a single, complete execution log? I'll try to point out where the exporter loses informatio

[2019-12-01 19:43] atomlab commented on #19
Hmm. I haven't idea too why it's not work for me. I created simple configuration with two neighbors. I see in `journald` that exporter correctly parsed output of command `wg show all dump` and print result as json to stdout. I will try to add debug info where exporter preparing result for endpoint `/metrics`.

[code]

[2019-12-01 22:23] atomlab commented on #19
Looks like `output_str` always empty.

[code]

[code]

[2019-12-02 17:56] MindFlavor commented on #19
Good you found where the code breaks! It seems the `Command` fails silently (or at least it does not output anything on stdout).

In your case, since PR [https://github.com/MindFlavor/prometheus_wireguard_exporter/pull/17](https://github.com/MindFlavor/prometheus_wireguard_exporter/pull/17) the exporter does not issue `wg show all dump` but `wg show wg0 dump` (you can see it in the `using inteface

[2019-12-03 21:13] atomlab commented on #19
Output the same when `interface_str` "all".
[code]

compile [e2d054c](https://github.com/MindFlavor/prometheus_wireguard_exporter/commit/e2d054c4670b867773cada44e20018cd7ef0493a)
[code]

[2019-12-03 22:47] MindFlavor commented on #19
Sorry, my bad, I've left a nightly only pragma.... :see_no_evil:  This [https://github.com/MindFlavor/prometheus_wireguard_exporter/commit/ebf7634e554aec1c98d5ccbe123f9fba53cdd716](https://github.com/MindFlavor/prometheus_wireguard_exporter/commit/ebf7634e554aec1c98d5ccbe123f9fba53cdd716) should compile with stable rust!

[2019-12-03 23:44] atomlab commented on #19
https://github.com/MindFlavor/prometheus_wireguard_exporter/commit/ebf7634e554aec1c98d5ccbe123f9fba53cdd716

[code]

`Operation not permitted`. But prometheus_wireguard_exporter is running as root.

[code]

It helped me to find the problem! My systemd unit config is to blame. All works fine when I remove `CapabilityBoundingSet=` directive.

/etc/systemd/system/prometheus_wireguard_exporter.service

[2019-12-05 11:15] atomlab commented on #19
I think I can close the issue.

[2019-12-05 11:15] #19 closed

[2019-12-05 15:06] MindFlavor commented on #19
Glad it worked out! I will merge the error printing version soon as it's invaluable to iron out errors!

[2020-03-20 15:58] vdebergue opened #22 "No output when peer config is split"
Hi,
I'm running the exporter with a separate peer file:

[code]

This causes the exporter to believe that the interface is named `peers` whereas the correct name is `wg0`

My `wg0.conf`:

[code]
This allows to split the configuration file in two and manage user configuration separately.

Maybe we could add an option on the command line that would take the precedence on the filename if specified ?

[2020-03-23 22:41] foxcpp opened #23 "Cannot listen on an IPv6 address"
## What I do
[code]

## What I expect
Exporter listening on IPv6 loopback.

## What I get
[code]

## Notes

My use-case is not specifically IPv6 loopback but any IPv6 address since I have IPv6-only VPN.

[2020-03-24 08:34] MindFlavor commented on #23
That's my fault, I've used the Ipv4-only struct while parsing the command line. There is no reason for doing this, I'll put together a bugfix PR soon (should be a one line change).

[2020-03-24 08:50] MindFlavor commented on #23
@foxcpp : can you please test if the PR https://github.com/MindFlavor/prometheus_wireguard_exporter/pull/24 solves your issue?

[2020-03-24 09:04] foxcpp commented on #23
Yes, it does.

[2020-03-24 10:42] MindFlavor commented on #23
Thanks! I'll merge the PR and create a new release shortly!

[2020-03-24 10:43] #23 closed

[2020-03-28 16:00] MindFlavor commented on #22
Yes it makes sense. 👍

[2020-03-28 17:01] MindFlavor commented on #22
@vdebergue Can you please test the aforementioned PR and tell me how it goes? I've tested it on my env and it seems to work (with both single config file and splitted ones).

[2020-03-28 18:33] vdebergue commented on #22
I will try it next week, thanks.

[2020-04-01 09:32] vdebergue commented on #22
The new branch is working for my setup 👍

[2020-04-02 14:34] MindFlavor commented on #22
Nice! Thank you for testing! As soon as I update the README I will merge the PR, publish it in crates.io and close this issue!

[2020-04-06 07:14] gunhu opened #27 "Exporter running with user different from root"
Hi,

I would really love to be able to run this exporter without the need to run it with root user.

Can I submit a PR in this way?

Regards,

[2020-04-06 09:17] MindFlavor commented on #27
Yes of course! We accept any contribution: this is a open source project made for free by every contributor for the community (with ❤️)!

Just please note that, in order for me to pull your PR in, you must accept to surrender your code as per the [LICENSE](https://github.com/MindFlavor/prometheus_wireguard_exporter/blob/master/LICENSE) file.

[2020-04-07 07:15] gunhu commented on #27
Perfect, I will submit a PR and surrender my code :)

[2020-04-07 08:20] #22 closed

[2020-04-28 16:10] markthehipster opened #28 "AllowedIps entry not found in lines"
Hey MindFlavor,

I just encountered an issue where I get this on the metrics page if `-n` is set to one of our configs.

`[2020-04-28T16:05:13Z WARN  prometheus_exporter_base] internal server error == AllowedIPsEntryNotFound { lines: ["PublicKey = <redacted> =", "AllowedIps = 192.168.1.1/32", "PersistentKeepalive = 25", "# Dudes-phone"] }`

It seems like that the app is trying to look for `Allowed

[2020-05-03 14:51] MindFlavor commented on #28
Yes, right now the parsing is case sensitive.
The relevant code is here: [https://github.com/MindFlavor/prometheus_wireguard_exporter/blob/2013f8b5af761458fe69e0f363e8febe7cdd632a/src/wireguard_config.rs#L36-L44](https://github.com/MindFlavor/prometheus_wireguard_exporter/blob/2013f8b5af761458fe69e0f363e8febe7cdd632a/src/wireguard_config.rs#L36-L44).

I might render it case insensitive by converti

[2020-05-03 14:52] MindFlavor opened #29 "Make config parsing case insensitive"
This code should accept any case:

[https://github.com/MindFlavor/prometheus_wireguard_exporter/blob/2013f8b5af761458fe69e0f363e8febe7cdd632a/src/wireguard_config.rs#L36-L44](https://github.com/MindFlavor/prometheus_wireguard_exporter/blob/2013f8b5af761458fe69e0f363e8febe7cdd632a/src/wireguard_config.rs#L36-L44).

This will partially solve #28.

This can be accomplished by converting to lower case

[2020-05-03 14:52] MindFlavor opened #30 "Support multiple interfaces from the command line"
This partially solves #28.

[2020-05-09 14:48] MindFlavor commented on #28
Support for multiple interfaces from the command line is implemented in release [3.3.1](https://github.com/MindFlavor/prometheus_wireguard_exporter/releases/tag/3.3.1) via PR [https://github.com/MindFlavor/prometheus_wireguard_exporter/pull/31](https://github.com/MindFlavor/prometheus_wireguard_exporter/pull/31).

[2020-05-09 14:48] #30 closed

[2020-05-10 13:47] #29 closed

[2020-05-10 13:51] MindFlavor commented on #28
Support for case insensitive parsing is implemented in release [https://github.com/MindFlavor/prometheus_wireguard_exporter/releases/tag/3.3.2](https://github.com/MindFlavor/prometheus_wireguard_exporter/releases/tag/3.3.2) via PR #32.

Please let me know if it solves your problem!

[2020-05-19 11:51] jeepmullet opened #34 "graph from extras/png"
Do you have a specific dashboard you're looking at in the screenshot? Do you mind sharing the json or linking to where you grabbed it?

Thank you

[2020-05-20 11:14] MindFlavor opened #35 "Create Grafana dashboards"
Right now the task of creating Grafana dashboards is left to every user. If you feel like it please share your dashboards so others can benefit from your Grafana-fu power.

I am an amateur Grafana user but here is my dashboard to start off: [https://gist.github.com/MindFlavor/e5d678280e8c5c5bf16959bc9611cd49](https://gist.github.com/MindFlavor/e5d678280e8c5c5bf16959bc9611cd49).

[2020-05-20 11:16] MindFlavor commented on #34
Sure! Here is the version I'm using right now: [https://gist.github.com/MindFlavor/e5d678280e8c5c5bf16959bc9611cd49](https://gist.github.com/MindFlavor/e5d678280e8c5c5bf16959bc9611cd49).
This one is slightly different from the screenshot because it renders the last handshake as a table instead of gauges.

Maybe we should add more complex dashboards as part of the repo. I am not that skilled in Gra

[2020-05-20 11:16] #34 closed

[2020-05-26 11:06] poblin-orange opened #36 "provide docker image"
Your exporter is very interesting.
However, rust runtime is not easy to set up. An image, maybe based on official https://hub.docker.com/_/rust would be valuable. Would extend possible usage on docker and k8s

[2020-05-31 11:41] MindFlavor commented on #36
It's an excellent idea. We will need to make sure the container could spawn `wg show <interface> dump` on the host (or even another container). Maybe prebuilt binaries can help here as well.

[2020-06-01 14:24] poblin-orange commented on #36
Sure. Rust on Dockerfile might be complex to set up, but once done, its easy to pushlish the image on dockerhub from github.

Maybe the kilo project could be used as inspiration with wg binary integration .
https://github.com/squat/kilo

They consider wireguard must be preinstalled on host vms, and i guess they allow priviliged access to the host binary.

[2020-06-15 09:55] poblin-orange commented on #36
travis seem to have native support for rust travis build. https://docs.travis-ci.com/user/languages/rust/

[2020-06-26 14:16] #28 closed

[2020-07-05 11:34] psyhomb commented on #35
Thank you :+1:

[2020-07-16 14:02] jpds opened #37 "Implement a wireguard_up key"
There should be a `wireguard_up` boolean key that shows if the WireGuard interface being monitored is enabled or not.

[2020-07-16 14:03] telmich opened #38 "Exporter fails to listen on IPv6 address"
Trying to bind it to :: or [::] results in an error message:

[code]

[2020-07-20 08:50] MindFlavor commented on #38
I am not able to repro the issue:

[code]

Can you please make sure you are using the latest version (maybe compiling directly from git?). The log should output the version at startup.

Thanks!

[2020-07-21 08:36] telmich commented on #38
I can confirm, this issue is fixed in git.

[code]

I'll try to see if 3.3.2 can easily be added to alpine linux. Thanks a lot for the quick reply!

[2020-07-21 08:36] #38 closed

[2020-08-17 16:37] qdm12 commented on #36
See #39. We just need to setup a CI pipeline (I'm familiar with it using Github actions) to build and push the Docker image to a Docker Hub account.

[2020-08-17 16:39] qdm12 commented on #27
But is there a way to run `wg` without root? I'm interested as well regarding #39 it would be nice to run without root privileges.

[2020-08-17 16:43] qdm12 opened #40 "CI to build and push Docker image"
Add a Github actions (free) CI build to build the Docker image for several cpu architectures and push it to Docker Hub.

To do so, please @MindFlavor create yourself a Docker hub account and set a Github secret (in the repo settings) `DOCKER_PASSWORD` with your Docker hub password. I'll take care of the CI config in a PR.

We should also add readme badges for it, because it's nice 😉

[2020-08-25 08:15] MindFlavor commented on #40
Ok secret created!
Thank you again!

[2020-08-25 08:24] MindFlavor commented on #37
AFAIK the `wg show dump` does not report disabled interfaces. This should reflect in the output with the missing information. I would use the [`absent` Prometheus function](https://prometheus.io/docs/prometheus/latest/querying/functions/#absent) to show this graphically.

[2020-09-01 00:29] qdm12 commented on #40
Cool, I'm working on it now. What's your Docker Hub username also?

[2020-09-04 19:09] MindFlavor commented on #40
My usename is [mindflavor](https://hub.docker.com/u/mindflavor). The name sounds good!

[2020-09-23 06:39] poblin-orange commented on #36
@qdm12 @MindFlavor i guess we can close this. One (probly stupid) question: is the resulting image built and uploaded to dockerhub ? I cant find it :-(

[2020-09-23 11:04] qdm12 commented on #36
Uh no sorry for postponing this. I'll try to add the CI now to automatically push to Docker hub.

[2020-09-23 11:33] qdm12 commented on #40
Hello there, sorry for the delay 😉
I just opened another [PR](https://github.com/MindFlavor/prometheus_wireguard_exporter/pull/42) to fix a copy paste typo I made regarding the build workflow from the `master` branch to build a `:latest` Docker image.
Once that's done, I'll do one final PR to have readme badges regarding the number of docker pulls etc.

Also, I probably won't do it anytime soon, b

[2020-09-23 11:35] qdm12 commented on #36
Actually I just realized, my CI PR has already been merged.
Unfortunately, I made a typo to build from the master branch, so I made [another PR](https://github.com/MindFlavor/prometheus_wireguard_exporter/pull/42). That should build and push the image once it's merged.

[2020-09-23 16:01] #36 closed

[2020-09-23 16:48] MindFlavor commented on #40
Yes, cross compilation is a pain unfortunately :crying_cat_face: . At least this project does not require external dependencies to C libraries (besides rust's, that is).

[2020-09-23 22:29] qdm12 commented on #36
@MindFlavor can you try pushing to master (anything really, even a PR should work)  to trigger the [buildx-latest workflow](https://github.com/MindFlavor/prometheus_wireguard_exporter/actions?query=workflow%3A%22Buildx+latest%22)? Thanks!

[2020-09-30 19:42] Thor77 commented on #27
How about an option to prefix the wg-command with `sudo` so at least only the wireguard query has to run as root?

[2020-10-03 21:47] cuotos commented on #40
@qdm12 How are you updating the "Dockerfile" and "Build" contents on docker hub? I've used the Description updater before but not updated the other tabs.

[2020-10-03 23:09] qdm12 commented on #40
Actually the build and push pipeline (see in Github Actions, docker buildx latest) didn't trigger. @MindFlavor do you mind trying to push anything on the master branch to see if it triggers

[2020-10-05 07:16] MindFlavor commented on #40
I did a simple push and it seems to be working! Great job @qdm12! 👍 (the image already has over 10k pulls which is *unexpected* to say the least 😮).

I'm closing this!

[2020-10-05 07:16] #40 closed

[2020-10-10 12:45] psyhomb opened #43 "Add friendly_name keyword in the comment"
It would be really nice to implement some kind of keyword that will be used to mark friendly name comment line, that way it would be possible to have multiple comments but only one with a specific keyword will be used to generate `friendly_name` label and all others will be silently ignored.

Example:

[code]

I'm providing an example snippet code written in Python:

[code]

Output:
[code]

Thanks

[2020-10-11 08:33] MindFlavor commented on #43
That is a great idea. I'll work on it ASAP.

[2020-10-11 08:35] MindFlavor commented on #27
I'll try this although I think it will only work on passwordless sudo users.

[2020-10-11 09:01] psyhomb commented on #43
FYI These are changes I've made (fork) and I'm currently testing it in my WireGuard environment.
https://github.com/psyhomb/prometheus_wireguard_exporter/commit/6439f0ada8b524439ecfe81b2e808b99969caea6

[2020-10-11 09:54] MindFlavor commented on #43
D'oh I missed your comment and replicated the same thing... :man_facepalming: Sorry!

[2020-10-11 11:43] psyhomb commented on #43
No problem at all 😉, thank you for making these changes.

[2020-10-11 14:14] qdm12 commented on #27
I've done that for a development interactive container, but that doesn't really help for a service container. If someone gains access to the container it can run sudo which is pretty much the same as running as root.

Maybe there is a way to run wg without root or run some other commands giving the same information without root (like ip route etc.)?

[2020-10-11 14:32] #43 closed

[2020-10-11 14:44] MindFlavor commented on #27
I've added the option in the aforementioned branch, please let me know what you think.
Personally I agree with @qdm12: this workaround does not increase the security much.

Let me know if you think it's worth merging or not :question: :question: :question:

[2020-10-11 15:19] qdm12 commented on #27
@MindFlavor You should at least add to the Dockerfile...

[code]

To create a non root user and add it to the sudoers (can be at the start of the last image Dockerfile), and then at the end of the Dockerfile, set the user to that non root user

[code]

And change your code to always run `wg` with `sudo`, as otherwise it won't work as you're not running as root.

A tiny security improvement, but re

[2020-10-11 18:38] MindFlavor commented on #27
Agreed but I would like to keep it a separate PR. I'll go on and merge this one because it doesn't do any harm.

BTW @qdm12: since you are very active here, would you like to become a maintainer of this repo? This way you could help with dockers without being slowed down by my response time. (sorry for the thread hijack but GitHub does not allow direct messages)

[2020-10-11 18:47] MindFlavor commented on #27
I'd like to keep this open until we have a complete solution.

[2020-10-11 22:07] qdm12 commented on #27
Yes, sure, thanks for asking! 😉 I'll make a PR for the Dockerfile

[2020-10-11 22:12] qdm12 commented on #27
By the way sorry about the Docker container focus, I forgot we can also run the app without a container 😅
Although I would guess it's more of a host setup to do in that case, and not really relevant to the program.

@MindFlavor You might want to reset the commit on master because running with sudo doesn't add anything and `sudo` is sometimes not installed on some niche systems. I'll explore other

[2020-10-12 19:30] Thor77 commented on #27
Thanks for implementing my suggestion, it works perfectly for my usecase (host-based deployment, running the exporter as a separate user).
I'm using this sudo rule: `prometheus-wireguard-exporter ALL=(root) NOPASSWD: /usr/bin/wg show * dump`

[2020-10-12 20:03] MindFlavor commented on #27
That's brilliant, thank you for sharing it :rocket: . I'll borrow it for my own deployment.

[2020-10-12 21:18] qdm12 opened #48 "Cross CPU architecture compilation"
- Using https://github.com/rust-embedded/cross
- Should be added to the Docker buildx pipeline somehow

[2020-10-12 21:32] qdm12 commented on #27
@Thor77 your solution seems to fit the Docker image too, thanks for sharing! ([PR](https://github.com/MindFlavor/prometheus_wireguard_exporter/pull/49/files)). It actually does give a better security 😉  I'll eventually look if there is a way to run `wg` without root at all, but that may not be possible either.

[2020-10-13 12:07] #27 closed

[2021-01-02 14:08] arisudesu opened #50 "Invalid line in /etc/sudoers.d/prometheus-wireguard-exporter"
The Dockerfile has an error, when filling in the sudoers file during build, it performs path expansion, replacing * with a list of file system directories. The file then contains nonsense:
[code]
As a result, the wg dump command doesn't work in the container at all.

It should be properly escaped, or rather, put in quotes to avoid path expansion.

[2021-01-02 20:59] #50 closed

[2021-01-04 17:01] arisudesu opened #52 "Friendly names are not matched if PublicKey contains comment"
As says the title, friendly names are not matched with public keys, if the public key line contains comment.

My wireguard config looks like this:
[code]

With this config, no friendly names are exported, although this is valid wireguard conf file.

If I modify  peer config like this:
[code]
Then friendly names work.

[2021-01-09 20:09] MindFlavor commented on #52
mmm this is weird and most likely a bug.
Thank you for reporting, the repro is quite clear 👍 !

[2021-01-09 20:57] qdm12 commented on #52
What client are you using on that peer?

I don't know/think friendly names are part of the wireguard original program.

[2021-01-10 10:07] MindFlavor commented on #52
Yes it was a bug indeed. This is what happens when you roll your custom parser 🤷‍♂️.

The above PR should fix this: can you try it and get back to me please?

[2021-01-10 18:12] arisudesu commented on #52
A quick check shows that this is now working correctly. Thanks!

[2021-01-10 18:12] #52 closed

[2021-02-19 10:51] #37 closed

[2021-03-20 19:22] iqdoctor opened #54 "Implement friendly_json tag witch may work like friendly_name"
please implement friendly_json which may work like friendly_name
[code]
[code]

[2021-03-22 12:23] MindFlavor commented on #54
I think it's an excellent idea! 👍

Will do!

[2021-03-25 13:17] #54 closed

[2021-03-28 12:33] arisudesu opened #56 "Signals support in Docker"
It is noticeable that exporter app doesn't process signals well when running in Docker. It doesn't exit immediately on `docker stop`, instead, it continues working until containerd-init kills it forcefully.

It should respect SIGTERM signal to shutdown gracefully. And maybe SIGINT too, if anyone tries to run exporter in interactive mode and stop it with Ctrl+C.

[2021-03-29 14:47] qdm12 commented on #56
I have the same problem. But is it limited to Docker? I believe it fails to exit even when run in a terminal interactively.

[2021-03-29 17:28] MindFlavor commented on #56
mmm I can't seem to be able to repro it (at least interactively):

![p](https://user-images.githubusercontent.com/431595/112875678-c818f280-90c4-11eb-84e6-bc18b8a783ad.gif)

Can you please help me pinpoint the problem?

[2021-03-30 10:39] arisudesu commented on #56
Tried to look into problem and I noticed that my container wasn't running with --init flag, as stated in README. Exporter was started as PID1 inside container and of course it did not have default signal handling for INT, TERM. Adding the --init flag solves shutdown problem.

Sorry!

[2021-03-30 10:43] MindFlavor commented on #56
Ok cool!
There's nothing better than an issue that resolves itself without touching the code 😃 !

[2021-03-30 10:47] arisudesu commented on #56
Great. Now you can fix both problems in one go.

Although I have already set up a working environment and a fix, it is unlikely I'll be able to make a patch, because Telegram code is huge and I can't be sure if I don't break something else by accident. I leave this to core developers.

[2021-04-05 08:57] qdm12 commented on #56
Well actually that `--init` flag is a bit of hack, why can't the rust binary handle the os signals properly?

We might also want to exit the program cleanly when receiving a signal, instead of having another program killing the rust program when receiving the signal.

[2021-04-05 09:21] arisudesu commented on #56
A bit off-topic, but this is not a Rust problem, but rather the consequences of what we got by processing pid 1 signals in the kernel in linux differently from other processes. Rust just does what the OS tells it by default (or doesn't, lol).

In Go, for example, it works a little differently. Runtime registers signal handlers explicitly at startup and does internal processing, so SIGTERM works ev

[2021-04-05 09:42] qdm12 commented on #56
Ah very much indeed, this [article](https://www.fpcomplete.com/blog/2016/10/docker-demons-pid1-orphans-zombies-signals/) explains it well. PID 1 is indeed special, TIL!

Although Rust's doc is  bit confusing in that regard 😄

From https://rust-cli.github.io/book/in-depth/signals.html

Now we could handle a bunch of signals in the program and exit gracefully, maybe that would be interesting... or d

[2021-04-05 17:04] bjoern-r opened #57 "prepend_sudo does not work as expected"
i'm running the exporter as an unprivileged user `monitoring` and added a sudoers entry to allow execution of the `wg` tool by monitoring user without password. however the exporter just returns `Permission denied (os error 13)`

## via shell it works as expected:
[code]

## via prometheus_wireguard_exporter it fails

[code]

[2021-04-28 09:02] logopk commented on #48
Good morning,

I'm having a hard time getting this to compile for armv7 on a raspberrypi 3b+. Even though I'm using docker build it's just simply not configured to use armv7 options.
As my wireguard is running on that pi, I have no other option...

I would really appreciate to get some hints to configure rust in the docker build for armv7. ( I am an absolute rust newb)

Currently it fails in ring

[2021-05-17 11:25] logopk opened #58 "What if wireguard is also running in docker"
My setup is running wireguard in a docker container managed with docker-compose

[code]

Apparently the wg-interfaces are not available on the host, so your container isn't reading them.

Any suggestions how to fix this?

Peter

[2021-05-27 01:17] jrwren opened #59 "It would be nice if github releases had binaries for download"
I don't know how to set this up or if it can be automated with actions, but if someone can point me to docs and it is acceptable I'd love to send a PR to implement this.

I don't know rust and cargo and so I extracted a binary from the docker image. It works well, but it is less than ideal.

[2021-06-05 12:53] DnR-iData opened #60 "Building error when `regex-syntax` build package"
Hi,

I'm trying to install the exporter but I've a building error on `regex-syntax` build package.

Tryed debian embbeded rust+cargo package and with recommanded installation on rust website :

[code]

Tryed `git clone` & build master branch too.

But all same error :

[code]

Here's information about distro :

[code]

[code]

Any suggestion ?
Need to open a issue on `regex-syntax` github ?

Thank

[2021-06-07 17:03] tobikris opened #61 "Support multiple config files for friendly names/jsons"
Thanks for the great tool!

I would like to use the nice friendly_name feature for all my interfaces. From my understanding you can only specify a single config file that is used for the friendly tag extraction though.

My idea would be to either allow multiple occurrences of the `-n` flag or allow to specify multiple files (e.g. comma separated).

[2021-06-08 10:05] tobikris commented on #59
I don't really know how to add this as a GitHub Action, but here is my workaround for now:

You can use the following snippet to compile the exporter with musl for x86_64.

The binary will be in `$(pwd)/target/x86_64-unknown-linux-musl/release/prometheus_wireguard_exporter`.

[code]

[2021-06-27 21:11] matutter opened #62 "Docker deployment without `host` networking"
Is there a method to run the `mindflavor/prometheus-wireguard-exporter` docker image without requiring `network_mode: host` ?

The purpose would be to allow only `prometheus` running in a container access the exporter and not expose the API to the host.

[code]

[2021-07-06 16:56] jr0dd commented on #58
I am also curious about this. I'm running a standalone wireguard pod in my k8s cluster. It would be nice to be able to monitor with this exporter

[2021-07-06 19:58] logopk commented on #58
My solution as for now is a multi stage build (mine has also the complexity to build the exporter for arm)...
so you may just copy the binary from the docker image mindflavor/prometheus-wireguard-exporter
Dockerfile:
[code]

root/etc/services.d/prometheus_wireguard_exporter/run:
[code]

[2021-07-07 02:13] qdm12 commented on #48
Quite very late for a reply, but I made #63 to cross build Docker images for all ARM flavors, which *should* work.

I have updated the checkboxes above on things to do, let's not close the issue yet.

[2021-07-07 02:15] qdm12 commented on #58
@logopk not solving the issue, but #63 *should* take care of cross building the images for all ARM architectures, so you should now be able to just `COPY --from=MindFlavor/prometheus_wireguard_exporter /usr/local/bin/prometheus_wireguard_exporter /usr/local/bin/` to your image for it to work, without having to compile anything. You might want to subscribe to #48 to get updates on that.

[2021-07-07 06:24] logopk commented on #58
Thank you @qdm12 that’s great.

[2021-07-07 17:32] qdm12 commented on #48
Ooof that took me a solid day of work, god rust isn't that friendly with cross compilation! 😢
But here we are, you can try the image with tag `:mindflavor/prometheus-wireguard-exporter:multi-arch-dockerfile` which is now built for `amd64`, `386`, `arm64`, `armv6` and `armv7`. There are still some other niche platform missing but this is due to Rust's standard library support lacking.

[2021-07-07 17:36] qdm12 commented on #58
@logopk you can try now with:

[code]

and it should work 👍

Regarding the actual issue, anyone has tried to run the exporter with `--network="container:wireguard"`? I'm pretty sure that should work. You would then have to publish the prometheus metric port on the wireguard container, but at least your containers would be separated.

[2021-07-07 19:22] logopk commented on #48
Thanks @qdm12.

Unfortunately the application does not start. It exits without output.

Tried also with
`docker run --rm   mindflavor/prometheus-wireguard-exporter:multi-arch-dockerfile`

Anything I can do to debug on armv7 (pi 3b+)?

[2021-07-07 20:16] qdm12 commented on #48
Ooops my bad, my dependency caching mechanism was instead building an empty program `main() {}` 😄

It's now fixed, although it's still building [here](https://github.com/MindFlavor/prometheus_wireguard_exporter/actions/runs/1009328603).

Actually, if you don't mind, can you try running (you need `git` installed):

[code]

On your ARM device see if it works? It might take a good 10 minutes I think

[2021-07-07 22:29] logopk commented on #48
It works - I did wait for your build though, as my pi was overwhelmed by the build....

Thanks a lot for this!

[2021-07-08 08:04] MindFlavor commented on #61
Good idea! On it!

[2021-07-08 09:06] #61 closed

[2021-07-08 09:07] MindFlavor commented on #61
Done! Let me know if you encounter errors!

[2021-07-08 15:56] qdm12 commented on #48
Cool 👍 Actually just as a note, you cannot build the image if your host is not `amd64` or `386` so it won't work on ARM devices anyway 😢

[2021-07-08 18:16] qdm12 commented on #60
Hi there, the `(signal: 9, SIGKILL: kill)` part might be due to the build running out of memory?

I seen you are running on `arm64`, what device are you using?

[2021-07-08 18:21] qdm12 commented on #59
The Docker build now cross build for all available architectures, maybe we can use it and send the built binaries (statically linked with musl bundled) to the Github API.

Now the problem comes with OSX since all [musl cross building tooling](https://musl.cc/) is for linux and not darwin, I'm not sure it would work.

Anyway, I think it's best to just use a Github Action for it (duplicating the CI

[2021-07-08 18:28] qdm12 commented on #59
Also note you could (trigger warning: sort of ugly) for Linux, as long as you have Docker, do:

[code]

And have the static binary on your host 😉 I'll dig on how to upload them to Github releases using a similar approach, at least we will have Linux binaries. OSX will have to wait though.

[2021-07-09 17:59] qdm12 commented on #56
We can use

[code]

In the final image stage so --init will no longer be required. I'll address this shortly.

[2021-07-12 03:16] shizunge commented on #62
Try https://github.com/qoomon/docker-host
Docker image to forward TCP and UDP traffic to the docker host.

[2021-07-16 13:14] #56 closed

[2021-07-17 18:49] todo[bot] opened #73 "comments"
https://github.com/MindFlavor/prometheus_wireguard_exporter/blob/eb65ce52dba8d5f20be92d6492bf8ea1f50af7b0/.devcontainer/devcontainer.json#L17-L22

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in eb65ce52dba8d5f20be92d6492bf8ea1f50af7b0 when #71 was merged. cc @MindFlavor.

[2021-07-17 18:49] todo[bot] opened #74 "comments"
https://github.com/MindFlavor/prometheus_wireguard_exporter/blob/5752476184de69fc2735be681a95c22bdab51648/.devcontainer/devcontainer.json#L17-L22

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 5752476184de69fc2735be681a95c22bdab51648. It&#x27;s been assigned to @qdm12 because they committed the code.

[2021-07-17 19:02] qdm12 commented on #74
Bad bot

[2021-07-17 19:02] #74 closed

[2021-07-17 19:02] qdm12 commented on #73
Bad bot, this is a VSCode extension 😉

[2021-07-17 19:02] #73 closed

[2021-07-18 09:52] arisudesu commented on #62
Try binding to docker internal address then adding this address as an extra host for prometheus:

Mine looks like:
[code]
This way the exporter should be available on docker network to prometheus.

[2021-08-04 01:25] Tarmik0s opened #78 "Prometeus can't scrape WG's metrics"
![image](https://user-images.githubusercontent.com/41224463/128106978-c3e1d3e5-7917-4d42-bc2c-2ad86d5a6a4e.png)

Hi,

I wanna ask if why I can't scrape the metrics from prometheus but I can curl it locally. Below is my prometheus scraping config

  - job_name: wg
    static_configs:
    - targets:
      - 127.0.0.1:9586

 Thanks!

[2021-08-04 03:18] qdm12 commented on #78
What network do you run the wireguard prometheus exporter? Are you running it on the host, as a container, something else?

Also how do you run Prometheus? On the host? As a container?

[2021-09-04 19:40] jr0dd opened #79 "[feat request] ability to use env vars"
It would be nice to have the ability to set the cli flags with env vars

[2021-09-05 07:26] MindFlavor commented on #79
Excellent idea!
Should be easy using Clap.

[2021-09-05 08:00] MindFlavor commented on #79
dev branch: [issue/79/dev](https://github.com/MindFlavor/prometheus_wireguard_exporter/tree/issue/79/dev).

[2021-09-07 18:41] jr0dd commented on #79
Awesome! I’ll have to test it out when I get some extra time.

[2021-11-01 15:28] stvnw opened #82 "Unescaped double quotes in `friendly_name` break prometheus scrape"
Double quotation marks (`"`) in `friendly_name` are not automatically escaped in the metrics output, and will cause scraping by prometheus to fail. For example:

    # friendly_name = Ada's 13" Laptop

will result in a prometheus error like:

    <datetime> <host> prometheus: level=debug ts=<ts> caller=scrape.go:<pid>
    component="scrape manager" scrape_pool=<job> target=http://<ip>:9586/metrics

[2021-11-03 10:06] MindFlavor commented on #82
Good catch.
The fix should be easy enough.

[2021-11-03 10:14] MindFlavor commented on #79
Done! 👍

[2021-11-03 10:14] #79 closed

[2021-11-03 10:36] #82 closed

[2021-11-03 13:22] upstream-dmahlberg commented on #59
Is this ticket still alive? The PR could be merged without conflicts...

[2021-11-03 14:04] MindFlavor commented on #59
Hi @upstream-dmahlberg, I'll leave to @qdm12 to decide what to do on that PR. He's much more competent than me on the subject!

[2021-11-05 13:28] arisudesu commented on #79
Dockerfile wasn't updated accordingly. Please fix.

[2021-12-08 03:47] rahmadsandy opened #85 "Always reset counter matrics when automation restart wireguard interface"
Hello @MindFlavor  , honesty this amazing project

could this exporter save all metrics from the beginning with ignoring how often we restarted wireguard interface?
or could be store stats into file or some databases

i used this wireguard framework to manage https://github.com/vx3r/wg-gen-web
everytime do CUD (Create, Update and Delete) automatically restart wireguard interface
![image](https://u

[2021-12-09 16:19] MindFlavor commented on #85
Hello @rahmadsandy,
please correct me if I misunderstood. You are suggesting to persist the output of `wg show all dump` to use in case wireguard is restarting?

[2021-12-17 10:04] martinjgrunwald opened #86 "No Metrics shown"
I just cannot get the exporter to show me any information about the peers. All i get is this:

[code]

This is my docker-compose:
[code]

And this is my wg0.conf:

[code]
If I manually type `sudo wg show all dump` however it does show me information about the peers.

What did I do wrong? 😑

[2021-12-17 20:27] rahmadsandy commented on #85
sorry replying lately,
yes correct @MindFlavor

but i have tried after restarting wireguard service `wg show all dump`  also resetting all data

[2022-01-18 07:56] MindFlavor commented on #85
We can cache the last `wg show all dump` output but I am not sure it would help: the counters will get reset anyway at the next poll. I'll try and think about an alternative. If anyone in the community can chip in, it would be most welcome!

[2022-01-18 08:09] rahmadsandy commented on #85
thank you @MindFlavor  still waiting your progress 🚀

[2022-01-25 10:37] nmcc1212 commented on #86
same

[2022-01-25 10:41] nmcc1212 commented on #86
i enabled verbose mode and got this
```TRACE prometheus_wireguard_exporter] wg show all dump stderr == Unable to access interface wg0: Operation not permitted```

[2022-01-27 13:05] MrDrache333 opened #87 "No Friendly Name scraped"
No friendly Names are shown in the scraped metrics but configured as described in the ReadMe.
Ive also restarted the service and Docker-Container

Docker-compose:
[code]
wg0.conf (1 client)
[code]

Metrics:
[code]

[2022-02-14 11:03] mikafouenski commented on #86
Hello,

If anyone reading this issue, you have to be `net host` for the exporter to see the wireguard interface.
Also, I found out that when running inside a container with the `3.6.1` version, you need to add the `PROMETHEUS_WIREGUARD_EXPORTER_PREPEND_SUDO_ENABLED` env var.

My compose:
[code]

[2022-02-14 12:18] martinjgrunwald commented on #86
Thank you so much! My Problem was **both** the `PROMETHEUS_WIREGUARD_EXPORTER_PREPEND_SUDO_ENABLED` env var **and** the `network_mode: host`. I guess I never tried these two together.

My compose now looks like this:

[code]

[2022-02-24 14:49] upstream-dmahlberg commented on #59
@MindFlavor  @qdm12 Any updates on this?

[2022-02-27 10:36] zxyz commented on #57
@bjoern-r  is the user `monitoring` allowed to read `/etc/wireguard/wg0.conf`? This was my problem.
You could try your above `prometheus_wireguard_exporter` command without the `-n` to verify this easily.

[2022-02-27 13:00] Lennys26 commented on #87
Anyone had any luck?

[2022-03-01 15:43] bjoern-r commented on #57
thanks for pointing out. i will try it out when i have the chance..

[2022-03-01 22:43] ncabete commented on #87
https://github.com/MindFlavor/prometheus_wireguard_exporter#flags-available

_PROMETHEUS_WIREGUARD_EXPORTER_CONFIG_FILE_NAMES_ or _-n_ depending on what you use.

[2022-03-03 08:16] is0x opened #88 "Docker wireguard and docker wireguard export"
hello,
I have wireguard in one docker and export in another, but I can't get it to see the wg0 interface, it always tells me not device and when I do a wg show in wireguard export it always returns it empty. How can I do to connect these two docker, because otherwise the metrics come out empty.
![image](https://user-images.githubusercontent.com/48331513/156527669-43040a1e-a275-40a5-9494-394e861a82

[2022-03-06 12:34] rahmadsandy commented on #88
would be nice if you certain docker configuration ex: docker-compose.yml

[2022-03-06 18:32] lausser opened #89 "I propose to add an example for the command lines"
Hi,
it took me some time until i understood that command line parameters -a and -v need an argument.
I was always running the exporter as:
[code]
I thought the parameters are boolean. And there was no error message.
Then i tried environment varibles and noticed that the line **using options...** showed what it was supposed to show.

[code]
Finally i tried
[code]

and everything was fine. You might

[2022-03-09 11:25] qdm12 commented on #88
Probably run it with `network_mode: host`? Or you can also connect to the Wireguard container and use it as network host with `network_mode: "container:wireguardcontainername"`, although that will lose connection if the wireguard container restarts without the wireguard prom container not restarting as well.

[2022-03-09 11:26] qdm12 commented on #88
Duplicate of #62 too

[2022-03-09 11:26] #88 closed

[2022-03-09 11:38] qdm12 commented on #59
Merged, sorry guys for the long delay. I'll try to dig into it in the coming weeks, to improve the CI pipeline.

[2022-03-10 18:18] ekeih commented on #59
This is awesome, thanks for the work on this!
Any chance to get a new tag/release to publish initial binaries? :)

[2022-03-11 15:44] MindFlavor commented on #87
@ncabete can you please start the explorer with the verbose flag active, try a scrape and post the log here? Be aware that, unless compiled with rust's `leaky_log` compile time flag, no private keys will be displayed but **public** keys will (if it bothers you, please redact them).

[2022-03-11 16:39] MindFlavor commented on #87
Also note that if you have `peers` in the main wireguard file you have to specify it manually in the `--extract_names_config_files` file (it's not automatically parsed).

[2022-03-12 06:42] qdm12 commented on #59
@micxer it doesn't look like it's building binaries on the latest tag, any clue why? I'm afk for the coming days so I can't really investigate.

[2022-03-14 14:08] ncabete commented on #87
@MindFlavor turns out I just had to clean up my peers config. Everything is working as intended on my side. Thank you

[2022-03-15 10:16] mfominov commented on #35
Thx for your dashboard.
I've made some enchantment like selection by friendly_name
https://gist.github.com/mfominov/4d2eb96f8b464781af171af3581794e6

[2022-03-15 10:47] psyhomb commented on #35
https://github.com/psyhomb/wireguard-tools/blob/master/monitoring/wireguard-dashboard.json

[2022-03-22 16:56] SerialVelocity commented on #89
I think this might've be partially fixed in the latest release since I was using `-a` before and not realising it wasn't working (I hadn't checked the metrics yet). When I use `-a` now it fails with:
[code]

[2022-03-24 10:42] DaS-hpolbb commented on #89
Hello, i have the same problem with docker and the following environment:
[code]
and also with the docker minimal example
`docker run -d --net=host --cap-add=NET_ADMIN --name wgexporter mindflavor/prometheus-wireguard-exporter`

[code]

[2022-03-29 07:44] #87 closed

[2022-03-29 07:44] #86 closed

[2022-03-29 07:45] #58 closed

[2022-03-29 07:56] MindFlavor commented on #89
I think you are right, the only mention of the change is in the 3.6.0 CHANGELOG:

I will copy this statement above the parameters table, hopefully it will make the point clear.

[2022-03-30 19:45] thecosmicfrog commented on #89
@MindFlavor I just updated from `3.5.1` to `3.6.3` and noticed that I can't run the Docker image without arguments anymore. My previous docker-compose config with `3.5.1` was:
[code]

...and had consistent restarts along with the error:
[code]

I fixed it by explicitly adding the arguments, i.e.
[code]

I'm assuming this wasn't intentional?

Thanks for the great software!

[2022-04-02 10:09] MindFlavor commented on #89
That's weird, the binary shouldn't require `prepend_sudo` at all. I've just checked from a rustc-compiled 3.6.3 binary and indeed it works without arguments. It's possible that's an artifact of the docker image then. Do you mind connecting to the container's shell (something like `docker exec -it container /bin/sh`) and launching the binary by hand? This way we will know for sure!

Thank you in ad

[2022-04-02 21:06] thecosmicfrog commented on #89
@MindFlavor No problem at all!

I updated my `docker-compose.yml` to have a `sleep` as below:

[code]

And indeed the binary runs without issue:

[code]

Cheers,
Aaron

[2022-04-05 06:32] lausser commented on #89
@MindFlavor _"...the binary shouldn't require prepend_sudo at all..."_
You mean the wg binary?
mon@wg-1-hvs:~$ wg
Unable to access interface wg0: Operation not permitted

[2022-04-05 06:53] MindFlavor commented on #89
Sorry I wasn't clear. I meant to say: "the binary does not require the *option to be specified* in order to start". In other words, the process should start regardless of you adding the `--prepend_sudo` option or not. If you don't add it, the default, `false` is used (see @thecosmicfrog's answer above). The `--prepend_sudo` argument is not mandatory.

I do not mean to imply that the exporter shoul

[2022-05-23 13:20] sebastianrakel commented on #59
is there any update. would be awesome if this is working, i want to add it to this https://github.com/voxpupuli/puppet-prometheus/ puppet module

[2022-08-08 09:33] slch commented on #89
Got `error: The argument '--prepend_sudo <prepend_sudo>' requires a value but none was supplied` on `3.6.3` (latest)

Isn't it because of this line?
https://github.com/MindFlavor/prometheus_wireguard_exporter/blob/master/Dockerfile#L133
Should be `CMD [ "-a false" ]`?

Works for me with `docker run ... --entrypoint /usr/local/bin/prometheus_wireguard_exporter ...` :+1:

[2022-10-22 22:37] KrautByte opened #98 "Grafana Dashboard seemed broken / Didn't work so i made an own one"
https://grafana.com/grafana/dashboards/17251-wireguard/

[2022-11-09 14:42] andrewlow opened #99 "error: The argument '--prepend_sudo <prepend_sudo>' requires a value but none was supplied"
Previously reported in https://github.com/MindFlavor/prometheus_wireguard_exporter/issues/89

I suspect that was closed because the original issue was dealt with - but this same issue was called out.

The Dockerfile has this line https://github.com/MindFlavor/prometheus_wireguard_exporter/blob/master/Dockerfile#L133

Which appears to make `-a` the default command line. Unfortunately - the `-a` com

[2022-11-13 23:05] garbelini commented on #99
Just bumped into this.
Seems to be related to a recent change that was not reflected in the docker image:
https://github.com/MindFlavor/prometheus_wireguard_exporter/blob/master/README.md?plain=1#L110

[2022-11-18 16:35] mmahacek opened #100 "Provide a latest_handshake_delay (or similar value)"
Add an additional metric that is essentially `now - timestamp` of the latest heartbeat. This makes it easier for me to persist a value of how long it's been since the last handshake.

[2022-11-20 09:04] MindFlavor commented on #100
Working on it: [branch issue/100](https://github.com/MindFlavor/prometheus_wireguard_exporter/tree/issue/100).

[2022-11-20 15:13] #100 closed

[2022-11-20 15:29] #78 closed

[2022-11-20 15:29] #60 closed

[2022-11-21 04:10] kramrm opened #102 "Build error"
Is this error something I'm doing wrong?

[code]

[2022-11-21 08:07] bastelfreak opened #103 "3.6.4 is missing at crate"
Hi,
https://crates.io/crates/prometheus_wireguard_exporter doesn't list the 3.6.4 release, can you please have a look?

[2022-11-21 08:28] MindFlavor commented on #103
Sorry, my mistake, I published the crate from a new machine without proper crates.io credentials 🤦 .
Fixed now!

[2022-11-21 08:28] #103 closed

[2022-11-21 08:31] MindFlavor commented on #102
No, it's not your fault! We just have different `Cargo.toml` files (and something in there did not follow semver properly 😥 ). I'll do another release shortly.

[2022-11-21 08:34] MindFlavor commented on #102
Well it turns out it's my fault: [https://github.com/MindFlavor/prometheus_exporter_base](https://github.com/MindFlavor/prometheus_exporter_base)... 🤦

[2022-11-21 08:53] bastelfreak opened #105 "test errors with 3.6.4/3.6.5"
Hi,
while packaging this for Arch Linux, I noticed the following error in 3.6.4/3.6.5 builds (it passed previously):
[code]

I built it like this, in a minimal Arch Linux container:

[code]

[2022-11-21 09:18] MindFlavor commented on #105
I didn't update the test cases to account for https://github.com/MindFlavor/prometheus_wireguard_exporter/pull/101. I'll make a new version shortly. Sorry!

[2022-11-21 09:28] #105 closed

[2022-11-21 11:00] bastelfreak commented on #105
thanks, tests are passing now. I just pushed the new package: https://archlinux.org/packages/community/x86_64/prometheus-wireguard-exporter/

[2022-11-21 15:44] kramrm commented on #102
Thanks.  Got it running now.

[2022-11-23 16:25] andrewlow commented on #99
The README.md change is this PR https://github.com/MindFlavor/prometheus_wireguard_exporter/pull/93

However, that is only the comment / documentation fix to address a previous change in behaviour. I think that this was back in this PR https://github.com/MindFlavor/prometheus_wireguard_exporter/pull/83

It was documented as a breaking change as well. The specific change that impacted the use of `-